/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #0880e8;
}

a:hover {
    color: #2b99f8;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: #0880e8;
    border-radius: 40px;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #f6b024;
    color: #fff;
}


/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0880e8;
    border-top-color: #bfe0fd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/

#topbar {
    height: 60px;
    font-size: 14px;
    transition: all 0.5s;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
}

#topbar.topbar-scrolled {
    top: -60px;
}

#topbar .contact-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#topbar .contact-info li {
    display: inline-block;
    padding: 0;
}

#topbar .contact-info li+li {
    margin-left: 18px;
}

#topbar .contact-info a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: #fff;
}

#topbar .contact-info i {
    color: #f6b024;
    padding-right: 4px;
}

#topbar .cta {
    background: transparent;
}

#topbar .cta a {
    color: #fff;
    background: #f6b024;
    padding: 6px 24px 8px 24px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
}

#topbar .cta a:first-of-type {
    background-color: transparent;
}

#topbar .cta a:hover {
    background: #f1a40a;
}


/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 60px;
}

#header.header-scrolled {
    top: 0;
    background: #002147;
}

#header .logo {
    font-size: 27px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 40px;
}

@media (max-width: 992px) {
    #header {
        top: 0;
        padding: 15px 0;
        background: transparent;
    }
    #header .logo {
        font-size: 28px;
    }
}

.header-inner-pages {
    background: rgba(5, 87, 158, 0.9) !important;
}

.topbar-inner-pages {
    background: #002147 !important;
}


/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/


/* Desktop Navigation */

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 14px;
    padding: 0 3px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f6b024;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
    visibility: visible;
    width: 100%;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #fff;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 8px;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #032e54;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #0880e8;
}

.nav-menu .drop-down>a:after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down>a:after {
        font-family: 'FontAwesome';
        content: "\f0d7";
    }
}


/* Mobile Navigation */

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle svg {
    color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #0665b7;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #f6b024;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(5, 74, 133, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 64vh;
    overflow: hidden;
    position: relative;
    background: url("../img/background.jpeg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -90px;
}

#hero:before {
    content: "";
    background: rgba(17, 17, 17, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f6b024;
}

.search-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 16px 24px;
    margin: auto;
}

.search-box h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

.reach-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reach-box p {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
}

.reach-box svg {
    line-height: 0;
    width: 70px !important;
    height: 70px;
    color: #05579e;
    border-radius: 160px !important;
}

#main-search {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    align-items: flex-start;
}

#main-search .form-control {
    border-radius: 3px;
}

#main-search :first-child {
    flex-grow: 3 !important;
    margin-right: 16px;
}

#main-search :nth-child(2) {
    flex-grow: 1;
    margin-right: 16px;
}

#main-search .btn-primary {
    background-color: #f6b024;
    border: 1px solid #f6b024;
}

#main-search .btn-primary:hover {
    background-color: rgba(246, 176, 36, 0.9);
}

#main-search input:focus {
    box-shadow: none;
    border: 1px solid #f6b024;
}

#main-search input::placeholder {
    opacity: 0.45;
}

.btn-primary {
    background-color: #2b99f8;
}

#hero .btn-get-started:hover {
    background: #f6b024;
    color: #fff;
    text-decoration: none;
}


/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/

section {
    padding: 60px 0;
}

.section-bg {
    background-color: #f1f8ff;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #054a85;
}

.section-title h2::after {
    content: '';
    display: block;
    margin-bottom: 16px !important;
    margin: auto;
    width: 60px;
    height: 10px;
    border-bottom: 3px solid #f6b024;
}

.section-title p {
    margin-bottom: 0;
    font-style: italic;
}

#featured-jobs {
    margin-top: -190px;
    position: relative;
    z-index: 1;
}

#featured-jobs .section-title {
    padding-bottom: 10px;
}

#featured-jobs .section-title h2 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.ft-job {
    border-radius: 40px;
    width: 180px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    padding: 12px 12px;
    display: inline-block;
    flex-direction: column;
    transition: all 0.2s ease-in;
    overflow: hidden;
    position: relative;
}

.ft-job:hover {
    transform: scale(1.02);
}

.ft-job img {
    height: 100px;
    max-width: 120px;
    object-fit: contain;
    margin-bottom: 10px;
    margin: auto;
}

.ft-job h4.title {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    width: calc(100% - 16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #05579e;
}

.ft-job h6 {
    font-size: 12px;
    color: #7e7c7c;
}

#featured-carousel .owl-stage-outer {
    padding-top: 10px;
}

#featured-carousel .owl-nav .owl-prev {
    left: 0;
}

#featured-carousel .owl-nav .owl-next {
    right: 0;
}

#featured-carousel .owl-nav .owl-prev,
#featured-carousel .owl-nav .owl-next {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #05579e;
    border-radius: 50%;
    font-size: 30px;
    line-height: 0;
    top: 30%;
    color: #05579e;
}

#featured-carousel .owl-nav .owl-prev:hover,
#featured-carousel .owl-nav .owl-next:hover {
    background-color: #05579e;
    border: 2px solid #05579e;
    color: #fff;
}

#featured-carousel .owl-nav .owl-prev:focus,
#featured-carousel .owl-nav .owl-next:focus {
    outline: 0;
}

#featured-carousel .owl-nav .owl-prev span,
#featured-carousel .owl-nav .owl-next span {
    margin-bottom: 5px;
}


/*--------------------------------------------------------------
  # Icon Boxes
  --------------------------------------------------------------*/

.job-boxes {
    padding-top: 0;
    transition: all 0.3s ease-in;
}

.job-boxes .job-box {
    display: flex;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    bottom: 15px;
    margin-bottom: 20px;
    padding: 13px 10px;
    position: relative;
    overflow: hidden;
    background: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.job-boxes .job-box:hover {
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
}

.job-boxes .job-box img {
    width: 80px;
    margin: auto;
    flex-grow: 0;
    flex-basis: 0;
}

.job-boxes .job-box .job-openings {
    flex-grow: 2;
    margin-left: 16px;
}

.moreJobCount {
    font-size: 13px;
    color: #2b99f8;
    margin-top: 60px !important;
}

.moreJobCount:hover {
    cursor: pointer;
}

.job-list {
    list-style: none;
    padding-left: 0;
}

.job-list a {
    color: #111;
}

.job-list a:hover {
    color: #2b99f8;
}

.job-list li:nth-of-type(n+3) {
    opacity: 0;
    height: 0;
    pointer-events: none;
}

.job-stats {
    display: flex;
    flex-direction: row !important;
    font-size: 12px;
}

.job-stats .date,
.job-stats .views {
    font-weight: 600;
    margin-right: 10px;
}

#mostJobModal img {
    width: 100px;
}

#mostJobModal .jobs {
    list-style: none;
    padding-left: 0;
}

#mostJobModal .jobs a {
    color: #000;
}

.jobSkillGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.job-skill-card {
    height: 100px;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.job-skill-card:hover {
    transform: translateY(-6px);
    transition: all 0.3s ease-in;
    background-color: #2b99f8;
}

.job-skill-card:hover a {
    color: #fff;
    cursor: pointer;
}

.job-skill-card:hover span {
    background-color: #f6b024;
}

.job-skill-card span {
    background-color: #eeeeee;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
}

#searchInJobLoc {
    width: 300px;
    margin: auto;
    box-shadow: none;
    border-radius: 25px;
    background-color: #f5f4f4;
}

#jobloctable thead {
    background-color: #05579e;
    color: #fff;
}

#jobloctable tbody tr:hover {
    background-color: #f8f6f6;
}

#jobloctable tbody td:first-child {
    display: flex;
    align-items: center;
    font-weight: 600;
}

#jobloctable tbody td:first-child img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.jobtablePagination {
    float: right;
    list-style: none;
}

.jobtablePagination li {
    display: inline;
    padding: 10px 16px;
    background-color: #f1f1f1;
}

.jobtablePagination li:hover {
    background-color: #2b99f8;
    color: #fff;
}

.job-boxes .icon {
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
}

.job-boxes .icon i {
    font-size: 36px;
    line-height: 1;
    color: #f6b024;
}

.job-boxes .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.job-boxes .title a {
    color: #05579e;
}

.job-boxes .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: #777777;
}


/*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/

.about {
    padding: 140px 0;
    background: url("../img/about-bg.png") top center no-repeat;
    position: relative;
}

.about:before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.about .container {
    position: relative;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #0880e8;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #0880e8;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #0880e8;
}

.about .content .btn-learn-more:hover {
    background: #0880e8;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 992px) {
    .about {
        padding: 60px 0;
    }
}


/*--------------------------------------------------------------
  # Clients
  --------------------------------------------------------------*/

.clients .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.clients .owl-item img {
    width: 60%;
    opacity: 0.5;
    transition: 0.3s;
}

.clients .owl-item img:hover {
    opacity: 1;
}

.clients .owl-nav,
.clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.clients .owl-dot.active {
    background-color: #0880e8 !important;
}


/*--------------------------------------------------------------
  # Why Us
  --------------------------------------------------------------*/

.why-us {
    background-color: rgba(0, 33, 83, 0.1);
    padding: 0;
}

.why-us .content {
    padding: 40px 0px 0 0px;
}

.why-us .content h3 {
    font-weight: 400;
    font-size: 34px;
}

.why-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.why-us .content p {
    font-size: 15px;
    color: #848484;
}

.why-us .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
}

.why-us .accordion-list {
    padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
    padding: 0;
    list-style: none;
}

.why-us .accordion-list li+li {
    margin-top: 15px;
}

.why-us .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.why-us .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
}

.why-us .accordion-list svg {
    color: #0880e8;
    font-weight: 600;
    width: 18px;
    height: 18px;
    padding-right: 10px;
}

.why-us .accordion-list svg {
    font-size: 24px;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
}

.why-us .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show {
    display: none;
}

.why-us .accordion-list a.collapsed {
    color: #343a40;
}

.why-us .accordion-list a.collapsed:hover {
    color: #0880e8;
}

.why-us .accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
    display: none;
}

.why-us .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#0880e8 50%, rgba(8, 128, 232, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.why-us .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.why-us .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(8, 128, 232, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.why-us .play-btn:hover::after {
    border-left: 15px solid #0880e8;
    transform: scale(20);
}

.why-us .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@media (max-width: 1024px) {
    .why-us .content,
    .why-us .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .why-us .content {
        padding-top: 30px;
    }
    .why-us .accordion-list {
        padding-bottom: 30px;
    }
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}


/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/

.services .icon-box {
    margin-bottom: 20px;
    padding: 50px 40px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.services .icon-box i {
    float: left;
    color: #f6b024;
    font-size: 40px;
}

.services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .icon-box h4 a {
    color: #05579e;
    transition: 0.3s;
}

.services .icon-box h4 a:hover {
    color: #0880e8;
}

.services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}


/*--------------------------------------------------------------
  # Cta
  --------------------------------------------------------------*/

.cta {
    background: linear-gradient(rgba(0, 33, 83, 0.8), rgba(0, 33, 83, 0.9)), url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 20px 0;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;
}

.cta .cta-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border-radius: 50px;
    border: 2px solid #f6b024;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #f6b024;
}

@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}


/*--------------------------------------------------------------
  # Portfoio
  --------------------------------------------------------------*/

.portfoio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.portfoio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
}

.portfoio #portfolio-flters li:hover,
.portfoio #portfolio-flters li.filter-active {
    color: #fff;
    background: #0880e8;
}

.portfoio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfoio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.portfoio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfoio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: #0880e8;
    padding: 15px 20px;
}

.portfoio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.portfoio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.portfoio .portfolio-item .portfolio-info .preview-link,
.portfoio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
}

.portfoio .portfolio-item .portfolio-info .preview-link:hover,
.portfoio .portfolio-item .portfolio-info .details-link:hover {
    color: #8ec8fb;
}

.portfoio .portfolio-item .portfolio-info .details-link {
    right: 15px;
}

.portfoio .portfolio-item:hover img {
    top: -30px;
}

.portfoio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
}


/*--------------------------------------------------------------
  # Team
  --------------------------------------------------------------*/

.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    background: #fff;
}

.team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.team .member .pic img {
    transition: ease-in-out 0.3s;
}

.team .member:hover img {
    transform: scale(1.1);
}

.team .member .member-info {
    padding-left: 30px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #05579e;
}

.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #bfe0fd;
    bottom: 0;
    left: 0;
}

.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #ecf6fe;
    color: #0665b7;
}

.team .member .social a i {
    font-size: 16px;
    margin: 0 2px;
}

.team .member .social a:hover {
    background: #0880e8;
    color: #fff;
}

.team .member .social a+a {
    margin-left: 8px;
}


/*--------------------------------------------------------------
  # Frequently Asked Questions
  --------------------------------------------------------------*/

.faq .faq-list {
    padding: 0 100px;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #75bdfa;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #343a40;
}

.faq .faq-list a.collapsed:hover {
    color: #0880e8;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}


/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/

.contact {
    background: url("../img/contact-bg.png") left center no-repeat;
    position: relative;
}

.contact:before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.contact .container {
    position: relative;
}

.contact .info {
    width: 100%;
}

.contact .info svg {
    font-size: 20px;
    background: #0880e8;
    color: #fff;
    float: left;
    padding: 12px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #043c6d;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #444444;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .php-email-form {
    width: 100%;
    background: #fff;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
    border: 0;
    padding: 10px 32px;
    color: #0880e8;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid #0880e8;
    background: #fff;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #0880e8;
    color: #fff;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/

.breadcrumbs {
    padding: 15px 0;
    background: #ecf6fe;
    margin-top: 130px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 50px;
    }
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 600;
    color: #043c6d;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #f8c255;
    content: "/";
}


/*--------------------------------------------------------------
  # sec-page
  --------------------------------------------------------------*/

.sec-page {
    padding: 40px 0;
}

.sec-page .entry {
    padding: 20px;
    margin-bottom: 60px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.sec-page .entry .entry-img {
    max-height: 400px;
    margin: -20px -20px 20px -20px;
    overflow: hidden;
}

.sec-page .entry .entry-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
}

.sec-page .entry .entry-title a {
    color: #054a85;
    transition: 0.3s;
}

.sec-page .entry .entry-title a:hover {
    color: #0880e8;
}

.sec-page .entry .entry-meta {
    margin-bottom: 15px;
    color: #2b99f8;
}

.sec-page .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sec-page .entry .entry-meta ul li+li {
    padding-left: 20px;
}

.sec-page .entry .entry-meta i {
    font-size: 14px;
    padding-right: 4px;
}

.sec-page .entry .entry-meta a {
    color: #2b99f8;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.sec-page .entry .entry-content p {
    line-height: 24px;
    font-size: 15px;
}

.sec-page .entry .entry-content .read-more {
    -moz-text-align-last: right;
    text-align-last: right;
}

.sec-page .entry .entry-content .read-more a {
    display: inline-block;
    background: #f6b024;
    color: #fff;
    padding: 6px 20px 8px 20px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 50px;
}

.sec-page .entry .entry-content .read-more a:hover {
    background: #0880e8;
}

.sec-page .entry .entry-content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.sec-page .entry .entry-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.sec-page .entry .entry-content blockquote p {
    color: #444444;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.sec-page .entry .entry-content blockquote .quote-left {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 36px;
    color: #e7e7e7;
}

.sec-page .entry .entry-content blockquote .quote-right {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 36px;
    color: #e7e7e7;
}

.sec-page .entry .entry-content blockquote::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #0880e8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sec-page .entry .entry-footer {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
}

.sec-page .entry .entry-footer svg {
    color: #2094fa;
    display: inline;
}

.sec-page .entry .entry-footer a {
    color: #2094fa;
    transition: 0.3s;
}

.sec-page .entry .entry-footer a:hover {
    color: #f6b024;
}

.sec-page .entry .entry-footer .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.sec-page .entry .entry-footer .cats li {
    display: inline-block;
}

.sec-page .entry .entry-footer .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.sec-page .entry .entry-footer .tags li {
    display: inline-block;
}

.sec-page .entry .entry-footer .tags li+li::before {
    padding-right: 6px;
    color: #1d66f8;
    content: ",";
}

.sec-page .entry .entry-footer .share {
    font-size: 16px;
}

.sec-page .entry .entry-footer .share i {
    padding-left: 5px;
}

.sec-page .entry-single {
    margin-bottom: 30px;
}

.sec-page .entry-single .entry-title {
    font-size: 32px;
    line-height: 38px;
}

.sec-page .sec-page-comments .comments-count {
    font-weight: bold;
}

.sec-page .sec-page-comments .comment {
    margin-top: 30px;
    position: relative;
}

.sec-page .sec-page-comments .comment .comment-img {
    width: 50px;
}

.sec-page .sec-page-comments .comment h5 {
    margin-left: 65px;
    font-size: 16px;
    margin-bottom: 2px;
}

.sec-page .sec-page-comments .comment h5 a {
    font-weight: bold;
    color: #444444;
    transition: 0.3s;
}

.sec-page .sec-page-comments .comment h5 a:hover {
    color: #f6b024;
}

.sec-page .sec-page-comments .comment h5 .reply {
    padding-left: 10px;
    color: #0880e8;
}

.sec-page .sec-page-comments .comment time {
    margin-left: 65px;
    display: block;
    font-size: 14px;
    color: #2b99f8;
    margin-bottom: 5px;
}

.sec-page .sec-page-comments .comment p {
    margin-left: 65px;
}

.sec-page .sec-page-comments .comment.comment-reply {
    padding-left: 40px;
}

.contact-form {
    background-color: #ffffff !important;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.sec-page .sec-page-comments .contact-form h4 {
    font-weight: bold;
    font-size: 22px;
}

.sec-page .sec-page-comments .contact-form p {
    font-size: 14px;
}

.sec-page .sec-page-comments .contact-form input {
    border-radius: 4px;
    padding: 20px 10px;
    font-size: 14px;
}

.sec-page .sec-page-comments .contact-form input:focus {
    box-shadow: none;
    border-color: #fad386;
}

.sec-page .sec-page-comments .contact-form textarea {
    border-radius: 0;
    padding: 10px 10px;
    font-size: 14px;
}

.sec-page .sec-page-comments .contact-form textarea:focus {
    box-shadow: none;
    border-color: #fad386;
}

.sec-page .sec-page-comments .contact-form .form-group {
    margin-bottom: 25px;
}

.sec-page .sec-page-comments .contact-form .btn-primary {
    border-radius: 50px;
    padding: 10px 30px;
    border: 0;
    background-color: #0880e8;
}

.sec-page .sec-page-comments .contact-form .btn-primary:hover {
    background-color: #f6b024;
}

.sec-page .sec-page-pagination {
    color: #5db1f9;
}

.sec-page .sec-page-pagination ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.sec-page .sec-page-pagination li {
    border: 1px solid white;
    margin: 0 5px;
    transition: 0.3s;
}

.sec-page .sec-page-pagination li.active {
    background: white;
}

.sec-page .sec-page-pagination li a {
    color: #aaaaaa;
    padding: 7px 16px;
    display: inline-block;
}

.sec-page .sec-page-pagination li.active,
.sec-page .sec-page-pagination li:hover {
    background: #0880e8;
    border: 1px solid #0880e8;
}

.sec-page .sec-page-pagination li.active a,
.sec-page .sec-page-pagination li:hover a {
    color: #fff;
}

.sec-page .sec-page-pagination li.disabled {
    background: #fff;
    border: 1px solid white;
}

.sec-page .sec-page-pagination li.disabled i {
    color: #f1f1f1;
    padding: 10px 16px;
    display: inline-block;
}

.sec-page .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.sec-page .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #054a85;
    position: relative;
}

.sec-page .sidebar .sidebar-item {
    margin-bottom: 30px;
}

.sec-page .sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
    border-radius: 50px;
}

.sec-page .sidebar .search-form form input[type="text"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 60px);
}

.sec-page .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 25px;
    margin: -1px;
    border-radius: 50px;
    background: #0880e8;
    color: #fff;
    transition: 0.3s;
}

.sec-page .sidebar .search-form form button:hover {
    background: #2b99f8;
}

.sec-page .sidebar .categories ul {
    list-style: none;
    padding: 0;
}

.sec-page .sidebar .categories ul li+li {
    padding-top: 10px;
}

.sec-page .sidebar .categories ul a {
    color: #0665b7;
    transition: 0.3s;
}

.sec-page .sidebar .categories ul a:hover {
    color: #f6b024;
}

.sec-page .sidebar .categories ul a span {
    padding-left: 5px;
    color: #8ec8fb;
    font-size: 14px;
}

.sec-page .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
}

.sec-page .sidebar .recent-posts img {
    width: 80px;
    float: left;
}

.sec-page .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
}

.sec-page .sidebar .recent-posts h4 a {
    color: #054a85;
    transition: 0.3s;
}

.sec-page .sidebar .recent-posts h4 a:hover {
    color: #f6b024;
}

.sec-page .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #138df7;
}

.sec-page .sidebar .tags {
    margin-bottom: -10px;
}

.tags ul {
    list-style: none;
    padding: 0;
}

.tags ul li {
    display: inline-block;
}

.tags ul a {
    color: #0880e8;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #ddeefe;
    border-radius: 50px;
    display: inline-block;
    transition: 0.3s;
}

.tags ul a:hover {
    color: #fff;
    border-color: #f6b024;
    background: #f6b024;
}

.tags ul a span {
    padding-left: 5px;
    color: white;
    font-size: 14px;
}


/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

#footer {
    background: #002153;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #05579e;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}

#footer .footer-newsletter form,
#cta form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type="email"],
#cta form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"],
#cta form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    margin: 3px;
    background: #f6b024;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover,
#cta form input[type="submit"]:hover {
    background: #0880e8;
}

#footer .footer-top {
    background: #002147;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 16px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #f6b024;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #5db1f9;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: rgba(255, 255, 255, 0.75);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #f6b024;
}

#company-banner {
    padding: 0;
    margin-top: 130px;
}

#company-banner img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
}

#company-body {
    padding-top: 30px;
    background-color: #f1f8ff;
}

#company-body>.container {
    max-width: 1366px;
}

.company-profile {
    background-color: #fff;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-profile img {
    height: 180px;
    max-width: 80%;
    margin-bottom: 15px;
    border: 2px solid #f1f8ff;
}

.company-profile .textdraw {
    height: 120px;
    width: 120px;
    background-color: #f6b024;
    font-size: 60px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border: 2px solid #f1f8ff;
}

.company-profile .company-contacts a {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 10px;
    align-items: center;
    border-radius: 3px;
    color: #0880e8;
}

.company-profile .company-contacts a:hover {
    background-color: #0880e8;
    color: #ffffff;
}

.company-profile .company-contacts a svg {
    width: 20px;
    height: 20px;
}

.company-jobs {
    padding: 30px 15px;
}

.company-jobs .box {
    padding: 20px;
    margin-bottom: 24px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.company-jobs .box h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 700;
    color: #05579e;
    background: #f8f8f8;
    text-align: center;
}

.company-jobs .box h4 {
    font-size: 16px;
    color: #0880e8;
    font-weight: 600;
    margin-bottom: 20px;
}

.company-jobs .box ul {
    padding: 0;
    list-style: none;
    color: #444444;
    line-height: 20px;
    font-size: 16px;
}

.company-jobs .box ul li {
    padding-bottom: 16px;
}

.company-jobs .box ul svg {
    color: #0880e8;
    font-size: 18px;
    width: 18px;
    padding-right: 4px;
}

.company-jobs .box ul.requirements {
    list-style: decimal;
    padding-left: 15px;
}

.company-jobs .box ul.requirements li {
    padding-bottom: 4px;
}

.company-jobs .box ul.requirements li:nth-of-type(n+4) {
    display: none;
}

.company-jobs .box:hover h3 {
    background-color: #0880e8;
    color: #fff;
    transition: all 0.2s ease-in;
}

.btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
}

.btn-wrap .btn-apply {
    background: #0880e8;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    color: #ffffff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-weight: 600;
    transition: 0.3s;
}

.btn-wrap .btn-apply:hover {
    background-color: #2b99f8;
}

.btn-wrap .btn-read {
    border: 2px solid #2b99f8;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    color: #2b99f8;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-weight: 600;
    transition: 0.3s;
}

.btn-wrap .btn-read:hover {
    background-color: #2b99f8;
    color: #ffffff;
}

.basic-info ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.basic-info ul svg {
    width: 40px !important;
    color: rgba(17, 17, 17, 0.5);
}

.basic-info ul li {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.basic-info ul li span:nth-of-type(1) {
    min-width: 150px;
}

.basic-info ul li span:nth-of-type(2) {
    flex-grow: 3;
    font-weight: 500;
}

.jd-group {
    margin-bottom: 50px;
}

.jd-group h4 {
    font-size: 21px;
    color: #0880e8;
    font-weight: 500;
    margin-bottom: 20px;
}

.jd-group h5 {
    font-size: 18px;
}

.jd-group ul {
    list-style: decimal;
}

.jd-group table {
    width: 100%;
}

.jd-group table tr:nth-of-type(n+1) {
    border-bottom: 1px solid #ebeaea;
}

.jd-group table td {
    padding: 10px 5px;
}

.jd-group table td:last-of-type {
    font-weight: 500;
}

#page-title-bg {
    position: relative;
    padding: 0;
}

#page-title-bg img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    filter: brightness(0.4);
}

#page-title-bg h1 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 1;
}

#page-title-bg h1::after {
    content: '';
    border-bottom: 2px solid #f6b024;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    display: block;
}

#login {
    background-color: #f1f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

#login .login-form {
    margin-top: -80px;
    min-width: 30vw;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.09);
}

@media screen and (max-width: 992px) {
    .jobSkillGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .jobSkillGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    #hero {
        height: 70vh;
        margin-bottom: 10px;
    }
    #hero h2 {
        font-size: 28px;
    }
    .job-boxes h2 {
        color: #2b99f8;
        margin-bottom: 24px;
        margin-top: 16px;
    }
}

@media screen and (max-width: 480px) {
    .jobSkillGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}